@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projets</h1>
    <p>Plateforme permettant de visionner les projets réalisés de manière intuitive.</p>
</div>
